* {
  margin: 0;
  overflow-y: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
}

body {
  margin: 3rem;
  padding: 0;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.invisibile {
  visibility: hidden;
}

h1 {
  font-size: 8em;
}

p {
  font-size: 2.75em;
}

#orientation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9000;
}

#orientation-overlay h1 {
  color: #2a61db;
  font-size: 2.5rem;
  text-align: center;
  margin: 15%;
}

h1 {
  font-size: 8em;
}

p {
  font-size: 2.75em;
}

.testje {
  visibility: hidden;
}

#bg-shape {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  right: 0;
  z-index: -10;
}

#bg-shape .shape-1 {
  fill: #263572;
}

#bg-shape .shape-2 {
  fill: #e5e5e5;
}

#bg-shape .shape-3 {
  fill: #f2f3f4;
}

#splash-blobs {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  fill: #2a61db;
  z-index: -20;
}

#splash-blobs .blob-1 {
  position: relative;
  width: 30rem;
  top: 5rem;
  left: 40rem;
  -webkit-animation: rotate 30s infinite linear;
          animation: rotate 30s infinite linear;
}

#splash-blobs .blob-2 {
  position: relative;
  width: 25rem;
  top: 0rem;
  left: -45rem;
  -webkit-animation: rotate 30s infinite linear;
          animation: rotate 30s infinite linear;
}

#splash-blobs .blob-3 {
  position: relative;
  width: 30rem;
  top: 30rem;
  left: 10rem;
  -webkit-animation: rotate 30s infinite linear;
          animation: rotate 30s infinite linear;
}

.button {
  position: relative;
  display: block;
  margin: auto;
  border: none;
  font-size: 3rem;
  padding: 2rem 10rem;
  border-radius: 10rem;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.emotion-button {
  position: relative;
  display: block;
  margin: auto;
  border: none;
  font-size: 3rem;
  width: 16rem;
  border-radius: 2rem;
  background-color: white;
  position: relative;
  top: 4.5%;
}

.emotion-button img {
  width: 100%;
}

.mood-meter {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 8rem;
}

input {
  font-size: 2em;
}

#splashscreen {
  margin-top: 30rem;
  text-align: center;
  height: 100vh;
}

#app {
  height: 100vh;
  background-color: #f1de89;
}

#login {
  margin-top: 10rem;
}

#login h1 {
  text-align: center;
}

#feeling {
  background-color: white;
  text-align: center;
  height: 100vh;
}

#feeling-message {
  height: 100vh;
  background-color: #8993f1;
}

#dashboard {
  height: 100vh;
  background-color: #c289f1;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */