#login-button {
    position: relative;
    display: block;
    margin: auto;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 4.5rem;
    border-radius: 10rem;
    background-color: $primary;
    color: $w;

    position: absolute;
    top: 88%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.button {
    position: relative;
    display: block;
    margin: auto;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 4.5rem;
    border-radius: 10rem;
    background-color: $primary;
    color: $w;
  
    position: absolute;
    top: 88%;  
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .emotion-button {
    position: relative;
    display: block;
    margin: auto;
    border: none;
    font-size: 3rem;
    width: 16rem;
    border-radius: 2rem;
    background-color: white;
  
    position: relative;
    top: 4.5%;
    // left: 50%; 
    // transform: translate(-50%, -50%);
  }
  
  .emotion-button img{
    width: 100%;
  }