#feeling{ 

    html {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    h1 {
        font-size: 2em;
    }

    .overview {
        text-align: center;
    }

    blob {
        display: inline-block;
        background-color: #2a61db;
        width: 100px;
        height: 100px;
        border-radius: 100px;

        position: absolute;
        top: -30px;
        left: -30px;

    }

    #header{
        width: 100%;
        height: 15%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    #header-blob{
        float:left;
    }

    #header-pf{
        background-color: rgb(245, 245, 245);
        padding: 20px 25px;
        border-radius: 1000px;
        color: #2a61db;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        top: 75px; right: 50%;
        transform: translate(50%,-50%);
    }

    #content {
        margin: 6rem auto;
        margin-bottom: 0;
        width: 80%;
    }

    #feeling-buttons-wrapper {
        height: 60vh;
        // position: absolute;
        // bottom: 50px;
        width: 80%;
        margin: 30px auto;
    }

    #moodmeter {
        height: 100%;
        float:left; 
    }

    #feeling-buttons{
        height: 100%;
        form {
            height: 100%;
        }
    }

    .happyButton {
        background-color: white;
        border: none;
        padding: 0;
        display: block;
        margin: auto !important;
        height: 20%;
        overflow: hidden;
    }

    .happyButton img{
        //background-color: #2a61db;
    }


}