#feelinglog {
    .item {
        margin-top: 15px;
        border-radius: 25px;
        text-align: center;
        padding: 0.6rem;
        margin-bottom: 20px;
        background-color: $w;
    }

    #greeting {
        background-color: rgb(245, 245, 245);
        border-radius: 25px;
        text-align: center;
        padding: 15px;
        margin-bottom: 20px;
    }
    
    #content {
        padding: 20px;
        border-radius: 25px;
    }

    h1 {
        margin-bottom: 25px;
    }

    h3 {
        float: left;
        font-size: 1.1rem;
        margin-left: 1rem;
    }

    p {
        float: right;
        font-size: 1.1rem;
        margin-right: 1rem;
    }

}