#login-form {
    margin-top: 7rem;
    input {
        margin-bottom: 3rem;
    }
    label {
        position: absolute;
        transform: translateY(-1.6rem);
    }
   .input-field {
        border: none;
        background-image: none;
        background-color: $grey-95;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 10px;
        height: 5vh;
        width: 90%;
        font-size: 1.2rem;
    }
    ::-webkit-input-placeholder, ::-moz-placeholder { /* Chrome/Opera/Safari */
        color: pink;
    }
}
