#home { 

    html, body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    h1 {
        font-size: 2em;
    }

    .overview {
        text-align: center;
    }

    blob {
        display: inline-block;
        background-color: #2a61db;
        width: 100px;
        height: 100px;
        border-radius: 100px;

        position: absolute;
        top: -30px;
        left: -30px;

    }

    #header{
        width: 100%;
        height: 15%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    #header-blob{
        float:left;
    }

    #header-pf{
        margin-top: 20px;
        margin-right: 10px;
        float: right;
        background-color: rgb(245, 245, 245);
        padding: 15px;
        border-radius: 25px;
        color: #2a61db;
        font-weight: bold;
    }

    #content {
        margin-top: 75px;
    }

    #task-complete {
        margin-top: 15px;
        background-color: rgb(245, 245, 245);
        border-radius: 1rem;
        text-align: center;
        padding: 15px;
        margin-bottom: 20px;
        animation: flashTaskComplete 3s infinite;
    }

    #button-layout{
        display: block;
        margin: auto;
        width: 100%;
    }

    #buttons {
    margin: 0px auto;
    width: 100%;
    height:50vh;
    background-color:#fff;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
    align-items:center;
    justify-content:center;
    }

    #option-button {
        border: none;
        color:#fff;
        display: flex;
        height: 100%;
        width: 100%;
        align-items:center;
        justify-content:center;
    }

    #clickable-tile{
        border: none;
        height: 70%;
        width: 70%;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); 
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: 10vh;
        background-color: #fff;
        background-position: center;
        
    }

    .conversation{
        background-image: url("../img/conversation.png");
        
    }

    .feeling{
        background-image: url("../img/feelings.png");
        
    }

    .none{
        background-color: rgb(219, 219, 219) !important;
    }

    #clickable-tile p {
        position: relative;
        top: 75%;
        font-size: large;
        font-weight: bold;
        color: black;
    }

    #appointments {
        background-color: #2a61db;
        left: 0px;
        height: 20vh;
        bottom: 0px;
        border-radius: 2rem;
        color: white;

        h2 {
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }
}