@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1 {
    font-family: 'Righteous', cursive;
    font-weight: 100;
}

h2 {
    font-family: 'Righteous', cursive;
    font-weight: 100;
}