$primary:   #2a61db;
$secondary: #263572;
$w:         #ffffff;
$grey-95:   #f2f3f4;
$grey-90:   #e5e5e5;
$grey-80:   #d2d2d2;
$grey-70:   #bdbdbd;
$grey-60:   #a9a9a9;
$grey-50:   #8f8f8f;
$grey-40:   #7a7a7a;
$grey-30:   #626262;
$grey-20:   #4c4c4c;
$grey-10:   #363636;
$grey-05:   #262626;
$b:         #000000;