@import "variables";
@import "buttons";
@import "typography";
@import "home";
@import "forms";
@import "feeling";
@import "feelinglog";
@import "help";

// * {
//     margin: 0;
//     padding: 0;
// }

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  overflow-y: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  overflow-x: hidden;

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

body {
  margin: 2rem;
  padding: 0;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.invisibile {
  visibility: hidden;
}

h1{
  font-size: 8em;
}

p{
  font-size: 2.75em;
}

#orientation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $w;
  z-index: 9000;
  h1 {
    color: $primary;
    font-size: 2.5rem;
    text-align: center;
    margin: 15%;
  }
}

h1 {
  font-size: 5em;
}

p {
  font-size: 1.50em;
}

.testje{
  visibility: hidden;
}

#bg-shape {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  left: 0;
  right: 0;
  z-index: -10;
  .shape-1 {
    fill: $secondary;
  }
  .shape-2 {
    fill: $grey-90;
  }
  .shape-3 {
    fill: $grey-95;
  }
}

#splash-blobs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  fill: $primary;
  z-index: -20;
  .blob-1 {
    position: fixed;
    width: 12rem;
    top: -4rem;
    left: 16rem;
    animation: rotate 30s infinite linear;
  }
  .blob-2 {
    position: fixed;
    width: 11rem;
    bottom: 26rem;
    left: -6rem;
    animation: rotate 30s infinite linear;
  }
  .blob-3 {
    position: fixed;
    width: 14rem;
    top: 25rem;
    right: -4rem;
    animation: rotate 30s infinite linear;
  }
}

.mood-meter{
  position: absolute;
  top: 25%; 
  left: 20%;
  width: 8rem;
}

input {
  font-size: 2em;
}

#splashscreen {
  text-align: center;
  #greeting {
    margin-top: 15vh;
  }
}

#app {
  height: 100vh;
  background-color: rgb(241, 222, 137);
}

#login {
  margin-top: 10rem;
  
  h1 {
    text-align: center;
  }
  // background-color: rgb(140, 241, 137);
}

#feeling {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 100vh;
  // background-color: rgba(200, 200, 200, 0.557);
}

#feeling-message {
  height: 100vh;
  background-color: rgb(137, 147, 241);
}

#dashboard {
  height: 100vh;
  background-color: rgb(194, 137, 241);
}


//------------//
// ANIMATIONS //
//------------//

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg);}
}

@keyframes flashTaskComplete {
  0% {
    background-color: lighten($primary, 30%);
  }
  50% {
    background-color: lighten($primary, 10%);
  }
  100% {
    background-color: lighten($primary, 30%);
  }
}